
<form class="d-flex justify-content-center" (submit)="onLoginSubmit()">
    <div  class="col-12 col-xl-4 col-xxl-4 col-lg-4 col-md-6 col-sm-9 mt-5 p-5" style="border-radius:10px;background-color: white;   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    ">
        <h4 class="mb-3">Kimlik Doğrulama</h4>
        
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" [(ngModel)] ="email" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email Adresi</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword"  [(ngModel)] ="password" name="password" placeholder="Password">
            <label for="floatingPassword">Şifre</label>
          </div>
    
        <button type="submit" class="btn btn-warning col-2">Giriş</button>
    </div>
</form>