<div class="d-block">

    <ul class="nav nav-pills mb-3 mt-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation" *ngFor="let data of datasetCategory">
            <button *ngIf="data.valid" class="nav-link" 
                [id]="'pills-'+data.name+'-tab'" 
                data-bs-toggle="pill"
                [attr.data-bs-target]="'#pills-'+data.name" type="button" role="tab" [attr.aria-controls]="'pills-'+data.name"
                [attr.aria-selected]="false">{{data.name}}</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" [attr.name]="'pills-'+data.name" [id] = "'pills-'+data.name" role="tabpanel" [attr.aria-labelledby]="'pills-'+data.name+'-tab'" tabindex="0" *ngFor="let data of datasetCategory">
            <section>
                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4 mb-md-3 mt-3 mb-3" *ngFor="let prod of data.products">
                            <div class="card ms-auto me-auto">
                                <img src="{{prod.image}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{prod.name}}</h5>
                                    <p class="card-text">{{prod.description}}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Süre : {{prod.time}}</b></li>
                                    <li class="list-group-item"><b>Fiyat : {{prod.price}}₺</b></li>
                                </ul>
                                <div class="card-body text-center" *ngIf="logged">
                                    <button (click)="order( prod._id )" class="btn btn-danger bg-color-ys-red ms-auto me-auto">Satın al</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            ...
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            ...
        </div>
    </div>
</div>