<div class="d-flex align-items-start mt-5">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><fa-icon [icon]="faStar"></fa-icon>Fırsatlar</button>

        <button class="nav-link" id="v-pills-category-tab" data-bs-toggle="pill" data-bs-target="#v-pills-category" type="button" role="tab" aria-controls="v-pills-category" aria-selected="false">ÖrnekKategori</button>

    </div>
    <div class="tab-content" id="v-pills-tabContent">

        <!-- Featured -->
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis magna quis orci porta tincidunt. Maecenas consectetur nisl id odio mollis pretium. Nunc lacinia ultricies lorem. Morbi porta arcu sed ante pharetra ultrices. Suspendisse finibus quam magna, at hendrerit enim ornare vel. Morbi eget sapien arcu. Etiam consequat a massa ac tempus. Maecenas ultrices est at neque auctor rutrum. Phasellus a velit maximus, imperdiet lorem vel, aliquet leo. Phasellus ipsum ligula, tincidunt eu scelerisque non, aliquam quis metus. Duis et lacus a felis dapibus tincidunt at nec arcu. In maximus nulla ut enim bibendum egestas</p>
        </div>

        <!-- Example Category -->
        <div class="tab-pane fade" id="v-pills-category" role="tabpanel" aria-labelledby="v-pills-category-tab" tabindex="0">
            
        </div>

    </div>
</div>