<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" >
    <div class="container-fluid">
      <a [routerLink]="['/']" class="navbar-brand ms-5 font-ys color-ys-red" href="#"><fa-icon [icon]="faBowlFood"></fa-icon> YemekSipariş</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
        </ul> -->
        <ul class="nav navbar-nav ms-auto me-5">
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a class="nav-link color-ys-red"  [routerLink]="['/profile']">Profil</a></li>
            <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a class="nav-link color-ys-red"  [routerLink]="['/dashboard']">Dashboard</a></li>
            <li *ngIf="authService.loggedIn()"   class="nav-item"><a class="nav-link color-ys-red"  (click)="onLogoutClick()">Çıkış</a></li>

            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a class="nav-link color-ys-red"  [routerLink]="['/register']">Kayıt</a></li>
            <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a class="nav-link color-ys-red"  [routerLink]="['/login']">Giriş</a></li>

        </ul>
        
      </div>
    </div>
  </nav>